<div class="post">

    <div class="post__header">
        <div class="post__header__user">
            <app-bubble class="post__header__user__img"></app-bubble>
            <p>blackaio</p>
        </div>
        <div class="post__header__share">
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        </div>
    </div>

    <div class="post__content">
        <ion-img src="../../../../assets/profiles/1.jpg"></ion-img>
    </div>

    <div class="post__interaction">

        <ion-toolbar>

            <ion-buttons slot="start">

                <ion-button color="dark">
                    <ion-icon name="heart-outline"></ion-icon>
                </ion-button>

                <ion-button color="dark">
                    <ion-icon name="chatbubble-outline"></ion-icon>
                </ion-button>

                <ion-button color="dark">
                    <ion-icon name="paper-plane-outline"></ion-icon>
                </ion-button>                

            </ion-buttons>

            <ion-buttons slot="end">
                <ion-button color="dark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                </ion-button>
            </ion-buttons>

        </ion-toolbar>

    </div>

    <div class="post__likes">
        <div class="post__likes__names">
            Curtido por <b>fernando</b> e <b>outras 30 pessoas</b>
        </div>
    </div>

</div>