<ion-header class="ion-no-border">
    <ion-toolbar class="header">

      <ion-img slot="start" [src]="assets.LOGO_SMALL"></ion-img>

      <ion-buttons slot="end">

        <ion-button color="dark">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
        
        <ion-button color="dark">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>

        <ion-button color="dark">
          <ion-icon name="chatbubbles-outline"></ion-icon>
        </ion-button>

      </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>

    <ion-row>

      <ion-col>

        <app-stories></app-stories>

      </ion-col>

    </ion-row>

  </ion-grid>


</ion-content>