<div class="stories">

  <ion-slides [options]="slideOpts">

    <ion-slide>
      <app-bubble [isCurrentUser]="true"></app-bubble>
    </ion-slide>

    <ion-slide>
      <app-bubble userName="mattsouza"></app-bubble>
    </ion-slide>

    <ion-slide>
      <app-bubble userName="fernando"></app-bubble>
    </ion-slide>

    <ion-slide>
      <app-bubble userName="mattsouza"></app-bubble>
    </ion-slide>

    <ion-slide>
      <app-bubble userName="fernando"></app-bubble>
    </ion-slide>

    <ion-slide>
      <app-bubble userName="mattsouza"></app-bubble>
    </ion-slide>

    <ion-slide>
      <app-bubble userName="fernando"></app-bubble>
    </ion-slide>

  </ion-slides>

</div>